.f10px{
    font-size: 10px;
}
.f11px{
    font-size: 11px;
}
.f12px{
    font-size: 12px;
}
.f14px{
    font-size: 14px;
}
.f16px{
    font-size: 16px;
}
.f17px{
    font-size: 17px;
}
.f18px{
    font-size: 18px;
}
.f19px{
    font-size: 19px;
}
.f20px{
    font-size: 20px;
}
.f21px{
    font-size: 21px;
}
.f22px{
    font-size: 22px;
}
.f23px{
    font-size: 23px;
}
.f24px{
    font-size: 24px;
}
.f25px{
    font-size: 25px;
}
.f26px{
    font-size: 26px;
}
.f27px{
    font-size: 27px;
}
.f28px{
    font-size: 28px;
}
.f29px{
    font-size: 29px;
}
.f30px{
    font-size: 30px;
}
.f31px{
    font-size: 31px;
}
